body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ffdee9, #b5fffc);
  height: 100vh;
  overflow: hidden;
   background-image: url('birthdayBackground.jpg');
  background-size: cover;        /* Make image cover full screen */
  background-repeat: no-repeat;  /* Prevent tiling */
  background-position: center;   /* Center the image */
}

.container {
  margin: 0 auto; /* center container */
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 5em;
  color: green;
}

h2 {
  font-size: 2em;
  color: #4d94ff;
}


.image-row {
    display: flex;
  justify-content: center; /* center images horizontally */
  flex-wrap: wrap;         /* wrap to new line on small screens */
  gap: 40px;               /* space between images */
  padding: 10px 0;
}

.image-row img {
    width: 400px;
    height: auto;
    display: inline-block;
    margin: 0 10px; /* spacing between images */
}

#confettiButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: gold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
}

#confettiButton:hover {
  background-color: orange;
}

